/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {
    /* Aqui você pode adicionar estilos específicos para telas grandes */
}

/* Desktop e Tablet (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
    /* Ajustes para dispositivos entre 768px e 991px */
}

/* Tablet (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
    /* Ajustes para tablets */
}

/* Tablet e celular (col) 0px a 767px */
@media (max-width: 767px) {
    * {
        box-sizing: border-box;
    }

    /* Esconde elementos com a classe 'no-mobile' */
    .no-mobile {
        display: none!important;
    }

    .col-one {
        padding-left: 15px!important; /* Reduzi o padding para evitar quebra */
        padding-right: 15px!important;
    }

    /* Ajustes no navbar */
    .navbar-toggler-icon {
        padding-top: 10px; /* Melhorar o espaçamento */
    }

    .navbar-nav {
        flex-direction: column; /* Faz os itens do menu se empilharem verticalmente */
        text-align: center;
    }

    .navbar-collapse {
        background-color: var(--color-secondary);
        padding: 20px;
        text-align: center;
        border-radius: 20px; /* Reduzido para um arredondamento mais suave */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destacar */
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon {
        padding-right: 10px;
    }

    .navbar-collapse .btn-icon span.icon {
        display: none; /* Esconde o ícone do botão em telas pequenas */
    }

    .img-logo {
        width: 100%;
        max-width: 300px; /* Ajustado para ficar proporcional em telas pequenas */
        display: block;
        margin: 0 auto;
    }

    .banner {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
    }

    .text-banner h1 {
        font-size: 30px; /* Ajustado para telas menores */
    }

    .text-banner p {
        font-size: 16px; /* Ajustado para não quebrar o layout */
    }

    .btn-yellow, .btn-white {
        padding: 12px 20px; /* Ajustado o padding para telas menores */
        font-size: 16px;
    }

    .btn-icon-left span.icon-left {
        width: 35px;
        height: 35px;
        margin-left: -45px;
    }

    .btn-icon-left {
        padding-left: 50px;
    }

    .title {
        font-size: 26px; /* Reduzido para telas pequenas */
    }

    .servicos, .cardapio, .depoimentos, .reserva {
        padding-bottom: 30px; /* Ajustado para espaçamento mais adequado */
    }

    .container-menu {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        padding-bottom: 10px;
        margin-left: 5px;
    }

    .img-produto {
        position: absolute;
        left: 10px; /* Ajustado para um espaçamento mais fino */
        margin-right: 10px; 
    }

    .card-item {
        height: 120px;
        padding-left: 90px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .card-item .img-produto img {
        width: 70px;
    }

    .title-produto {
        margin-top: 0px!important;
        height: 30px!important;
        width: 100%;
        text-align: left!important;
    }

    .price-produto {
        margin-bottom: 0px!important;
        margin-top: 0px!important;
        font-size: 20px!important;
    }

    .card-item .add-carrinho {
        margin-top: 5px;
    }

    #itensCardapio .mb-5 {
        margin-bottom: 15px;
    }

    .container-logo-footer, .container-texto-footer, .container-redes-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-texto-footer p {
        text-align: center;
    }

    .modal-full {
        padding: 30px;
    }

    .modal-full .item-carrinho {
        padding-left: 0;
        padding-right: 0;
    }

    .modal-full .img-produto {
        position: relative;
        left: 0;
    }

    .modal-full .img-produto img {
        width: 45px;
    }

    .modal-full .dados-produto {
        padding-left: 10px;
    }
}